*{
    margin:0;
    padding:0;
}
.container,.login_form{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    align-items:center;
}
.container{
    position:absolute;
    top: 20%;
    left: 20%;
    background-color:#ececec;
    border: 1px solid #000;
    min-width:20%;
}
h1{
    margin:25px;
}
.login, .sign_in{
    margin-bottom: 15px;
    width:90%;
    padding: 3px;
}
.sign_in{
    background-color:lightgrey;
    border-radius:5px;
}
.sign_in:hover{
    position: relative;
    top:2px;
}
